---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaskapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flaskapp
  template:
    metadata:
      labels:
        app: flaskapp
    spec:
      containers:
      - name: flaskapp
        image: rangeley826/sbaflaskapp
        ports:
        - containerPort: 8226
---
apiVersion: v1
kind: Service
metadata:
  name: flaskapp-service
spec:
  type: NodePort
  selector:
    app:  flaskapp
  ports:
  - protocol: TCP
    port: 8226
    targetPort: 8226
    nodePort: 30008